<<<<<<< HEAD
=======
.Main-container {}

>>>>>>> b135e8d23ac338b1b9a6db09c40bc7cb9204415f
.Container-contact {
  width: 100%;
  height: 100vh;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container-formular {
  /* padding: 23px 34px 22px 23px; */
  background: white;
  width: 96%;
  max-height: 93vh;
  height: 100%;
  padding: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title-question {
  padding-left: 275px;
  padding-top: 20px;
  font-size: 16px;
}

.text-contact {
  font-size: 12px;
  padding-left: 275px;
}

.form-contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 350px;
  height: 570px;
}

.Container-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 12px;
}

.input-class {
  background: #F4F4F4;
  border: none;
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
}

.input-message {
  background: #F4F4F4;
  border: none;
  padding: 20px;
  border-radius: 5px;
  height: 200px;
  min-width: 350px;
  max-width: 350px;
  min-height: 100px;
  max-height: 250px;
}

.button-send {
  display: flex;
  justify-content: flex-end;
}