.ButtonLearn {
  padding-top: 15px;
}

.ButtonLearn>button {
  border-color: transparent;
  background-color: #FC6C5F;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: white;
}