.Form {
  width: 43.35%;
  background: linear-gradient(to right, #460093, #0034BA);
  overflow: auto;
}

.Sign-in {
  padding-top: 289px;
  padding-left: 78.5px;
  color: white;
  line-height: 32px;
  font-size: 24px;
}