.Form {
  width: 43.35%;
  background: linear-gradient(to right, #460093, #0034BA);
  overflow: auto;
}

.Sign-in {
  padding-top: 289px;
  padding-left: 78.5px;
  color: #FFFFFF;
  line-height: 32px;
  font-size: 24px;
}

.Form-login-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.Form-login {
  width: 271px;
  margin-top: 2rem;
}

.Form-input-login {
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: solid 0.1rem #FFFFFF;
  outline: none;
  font-size: 10px;
  background-color: transparent;
  color: white;
}

.Form-input-login::placeholder {
  color: #FFFFFF;
}

.Login-element {
  display: flex;
  margin-top: 15px;
}

.align-element {
  display: flex;
  justify-content: space-between;
}

.CheckboxLabel {
  line-height: 25px;
  font-family: 'nunito', light;
  color: white;
  font-size: 10px;
}

.Checkbox {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.ForgetPass {
  line-height: 25px;
  font-family: 'nunito', light;
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 15px;
}

.Link-signup-connect {
  color: #FFFFFF;
  padding-left: 82px;
  font-size: 10px;
}

.Link-signup-connect a {
  color: #FC6C5F;
}

.Link-signup-connect a:hover {
  color: black;
}