.Form2 {
  width: 56.64%;
  background: white;
  display: flex;
  flex-direction: column;
}

.Form-login-container3 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  width: 100%;
}

.Form-login2 {
  display: flex;
  margin-top: 2rem;
  margin-left: 90px;
  width: 500px;
}

.form-login-info {
  width: 310px;
}

.Form-input-login2 {
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: solid 0.1rem #CECECE;
  outline: none;
  font-size: 10px;
  background-color: transparent;
  color: #606166;
}

.title {
  font-size: 10px;
  font-weight: 100;
  font-family: "Nunito", Regular;
  margin-top: 20px;
  margin-bottom: 15px;
}

.select-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.date {
  width: 80px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #CECECE;
  padding-bottom: 10px;
  color: #606166;
  font-size: 10px;
  font-weight: 100;
  font-family: "Nunito", Regular;
}

.form-control {
  width: 100% !important;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #CECECE;
  padding-bottom: 5px;
  color: #606166;
  font-size: 10px;
  font-weight: 100;
  font-family: "Nunito", Regular;
}

.Phone {
  display: flex;
  justify-content: space-between;
}

.ind {
  width: 80px;
  height: 40px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #CECECE;
  padding-bottom: 10px;
  color: #606166;
  font-size: 10px;
  font-weight: 100;
  font-family: "Nunito", Regular;
}

.Form-input-number {
  width: 60%;
  height: 2.5rem;
  border: none;
  border-bottom: solid 0.1rem #CECECE;
  outline: none;
  font-size: 10px;
  background-color: transparent;
  color: #CECECE;
}

.container-photo {}

.imageUpload {
  width: 85px;
  padding-left: 120px;
  padding-top: 40px;
}

.profile {
  display: flex;
  justify-content: center;
  width: 85px;
  color: #606166;
  font-size: 12px;
  font-weight: 100;
  font-family: "Nunito", Regular;
}